<app-header></app-header>
<div class="body">
    <div class="form">
        <img src="../../../assets/logo.png" width="40%" alt="">
        <h3 class="titulo">Olvide mi Contraseña</h3>
        <div class="user-input-wrp">
            <input [(ngModel)]="codigo" type="number" class="inputText" required/>
            <span *ngIf="!codigoE" class="floating-label">Codigo de Recuperacion*</span>
            <span *ngIf="codigoE" class="floating-label-error">Codigo de Recuperacion Invalido*</span>

          </div>
        <button (click)="enviar()" class="btnRecuperar">Recuperar</button>
    </div>
</div>
<app-footer></app-footer>