<app-header></app-header>

<div class="body">
    <div class="articulo">
        <div class="imgs">
            <div class="prevImages" id="style-1">
                <div *ngFor="let img of item['images_gallery']"  class="prevImg">
                    <img src="{{img['image']}}" alt="">
                </div>
                
            </div>
            <img class="img" src="{{item['images_large']}}" alt="">
        </div>
        <div class="description">
            <h3>{{item['short_description']}}</h3>
            <br>
            <p>Codigo de producto: {{item['code']}}</p>
            <br><br>
            <hr>
            <br><br>
            <p>Descripcion: <br> {{item['long_description']}}</p>
            <br>
            <p [innerHTML]="item['html_details']"></p>
            <br>
            <div class="precio">
                <h4>${{item['price']}}</h4> X <input [(ngModel)]="cantidad" (ngModelChange)="cantidadItem(cantidad)" type="number" value="1" min="1">= ${{total}}
            </div>
            <br> <br>
            <hr>
            <br><br>
            <button class="btnCarrito" (click)="addCart(item['product_id'] ,cantidad)">Agregar al carrito</button>
        </div>

    </div>
    <h3 class="articulosRelacionados">Articulos Relacionados</h3>

    <div class="relacionados" id="relacionados">
        <div *ngFor="let item of items" class="cardRelacionado">
            <img src="{{item.images_small}}" alt="">
            <h3>{{item.short_description}}</h3>
            <h3>${{item.price}}</h3>
        </div>
        

    </div>
</div>